*{
    padding: 0px;
    margin: 0px;

}
.navbar-nav  li  a{
    margin-left: 50px;
    
    margin-bottom: -70px;

}
.navbar-nav{
    line-height: 100px;
    
}
.navbar-brand{
    margin-top: -10px;
}
input[type="text"]{
    border-radius: 30px;
    height: 35px;
    width: 270px;
    background-color:rgb(248, 246, 247);
}
.fa-search{
    margin-left: -28px;
}
.fa-heart-o{
    margin-left: 28px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 30px;
    padding: 9px;

}
.bi-bag{
    margin-left: 21px;
    box-sizing: border-box;
    background-color:black ;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 30px;
    padding: 5px;

}
.zoom:hover {
    /* -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); */
    transform: scale(1.1);
}
.left0{
    margin-left: 250px;
}